.Event__header
	.Event__wrapper
		.Event__title {{placeList.name}}
		.Event__location Location: {{placeList.location}}
		.Event__location Time: TBD
.Event__content
	.foodItem(ng-repeat="drink in placeList.cocktails track by $index", layout="column", layout-margin)
		img(src="/IMAGES/orange juice table.jpeg", width="300", height="300")
		.foodItem__name 
			b {{drink.name}}
		.Event__drinkIngredients {{drink.ingredients}}