.Homepage(layout="column", flex)
	img.back-img(src="/IMAGES/outdoor2.jpg")
	.logo(layout="row", layout-align="center")
		img(src="/IMAGES/logo.png", width="280px")

	.restaurant-btn(layout="row", flex="80", layout-align="center", ui-sref="main.restaurants") Restaurants
	.bar-btn(layout="row", flex="80", layout-align="center", ui-sref="main.bars") Bars
	span(flex)