.Homepage
	.Homepage-logo(layout="row", layout-align="center center")
		img(src="/IMAGES/logo.png", width="280px", height="auto")

	.Homepage-hero(layout="row", layout-align="center center")
		.Homepage-heroText The ultimate lifestyle app.

	.Homepage-btnContainer(layout="row", layout-xs="column", layout-wrap)
		.Homepage-btns(layout="row", layout-align="center center", flex, flex-order-gt-xs="30", ui-sref="main.restaurants")
			.Homepage-btnText Restaurants
		.Homepage-btns(layout="row", layout-align="center center", flex, flex-order-gt-xs="30", ui-sref="main.bars") 
			.Homepage-btnText Bars
		.Homepage-btns(layout="row", layout-align="center center", flex, flex-order-gt-xs="50", ui-sref="main.antiRest") 
			.Homepage-btnText Anti-restaurants