.Event {
	&__header{
		@include row;
		@include center;
		@include middle;
		padding: 40px;
		background-image: url("/IMAGES/blackcrescent.jpg");
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		color: white;
		opacity: .9;
	}
	&__title {
		@include font-xxl-hind-medium;
		font-size: 90px;
	}
	&__location {
		@include font-med-open-sans;
		font-size: 50px;
	}
	&__content {
		@include row;
		font-size: 50px;
		padding: 15px;
		padding-bottom: 50px;
	}
	&__drinkIngredients {
		font-size: 30px;
		padding-bottom: 20px;
	}
	&__wrapper {
		margin-left: 30px;
	}
}