html, body {
	font-family: 'Open Sans', 'Hind', sans-serif;
	background-color: $defaultBackColor;
	color: #4A4A4A;
	font-size: 14px;
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}






