html, body {
	font-family: 'Open Sans', 'Hind', sans-serif;
	background-color: $defaultBackColor;
	color: #4A4A4A;
	font-size: 14px;
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

.hr-dark {
	border-top: 1px solid $hr-color-dark;
}
.hr-light {
	border-top: 1px solid $hr-color-light;
}

// buttons*************************************************
button {
	@include button-default;
}
.btn-grey {
	@include button-grey;
}
.btn-inverted {
	@include button-inverted;
}
.btn-disabled {
	@include button-disabled;
}
.btn-arrow {
	margin-left: em(50);
}





