.Homepage {
	width: 100%;
	min-width: 480px;
	min-height: 100vh;
	background-image: url("/IMAGES/outdoor2.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 20px;
	
	&-logo {
		width: 100%;
		height: 20%;
		background-color: $defaultBackColor;
		padding: 20px 0;
		margin: auto;
	}
	&-hero {
		// background: #161921 linear-gradient(-180deg, #14171F 0%, #313542 100%);
		height: 40vh;
		margin: 10px 0;
		padding: 20px;

	}
	&-heroText {
		@include font-xl-open-sans-semibold;
		color: white;
		font-size: 40px;
		font-weight: bold;
		cursor: pointer;
	}
	&-btnContainer {
		margin: auto;
		max-width: $maxWidth;
	}
	&-btns {
		@include font-xl-open-sans-semibold;
		color: $defaultBackColor;
		background-color: rgba(17,17,17, .9);
		padding: 3%;
		margin: 3px 3px;
		min-width: 400px;
	}

}

.Navbar {
	@include custom-width;
	background-color: rgb(132,132,132);
	z-index: 3;
	img {
		border-radius: em(30);
	}

}

.Places {
	.Place {
		@include custom-width;
		position: relative;
		overflow: hidden;
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: auto;
		}
		margin-bottom: 1px;
		box-shadow:0px 2px 1px $textColor;

	}
	.Place__name {
		@include font-lg-hind-medium;
		background-color: rgba(79, 189, 181,.7);
		color: white;
		padding: em(40) em(20) em(40) em(5);
		border-top-right-radius:10em;
		border-bottom-right-radius:10em;
		z-index: 1;
	}
}

.FoodsList {
	@include custom-width;
	background-color: white;
	.description {
		text-align: center;
		position: relative;
		&__title {
			@include font-lg-hind-light;
			position: absolute;
			left: 0;
			top:0;
			color: $textColor;
			background: rgba(255,255,255,.9);
			border-radius: em(30);
			padding: em(5);
		}
		margin-bottom: 1em;
	}
	.foodItem {
		text-align: center;
		color: $textColor;
		img {
			border-radius: 50%;
		}
		&__name {
			@include font-lg-hind-light;
			margin: 1em;
		}
	}
}
.FoodDetail {
	@include custom-width;
	background-color: white;
	text-align: center;
	img {
		width: 100%;
	}
	&__title {
		@include font-xl-open-sans-semibold;
		margin: 1em;
	}
	&__description {
		@include font-med-open-sans;
		margin: 1em;
	}
}