// styling default *************************************************
@mixin padding-default {
  padding: 1em 0;
}

@mixin custom-width {
  width: 100%;
  max-width: $maxWidth;
  margin: auto;
}
@mixin custom-width-min {
  max-width: 320px;
  padding: 0 15px;
  margin: auto;
}

@mixin left-panel-width {
  width: 680px;
}
@mixin right-panel-width {
  width: 260px;
  margin: em(15);
}

@mixin marketing-text-width {
  max-width: em(620);
  padding: 0 15px;
  margin: auto;
}

// buttons *************************************************
@mixin button_default {
  @include font-hind-medium;
  font-size: 14px;
  background-color: $themeColor;
  border-radius: 3px;
  border: 1px solid $themeColor;
  height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  color: $buttonTextColor;

  &:hover {
    border: 1px solid $button-default-hover;
    background-color: $button-default-hover;
  }
  &:focus {
    outline: none;
  }
}

@mixin button-grey {
  @include button-default;
  background-color: inherit;
  color: $button-grey;
  border: 1px solid $button-grey;

  &:hover {
    color: $buttonTextColor;
  }

}

@mixin button-inverted {
  @include button-default;
  color: white;
  border: 2px solid white;
  &:hover {
    background-color: white;
    color: $buttonTextColor;
    border: 2px solid white;
  }
}

@mixin button-disabled {
    background-color: inherit;
    border: 1px solid $button-color-disable;
    color: $button-color-disable;
    cursor: default;
    &:hover {
      background-color: inherit;
      border: 1px solid $button-color-disable;
    }
}

