.Places {
	.Place {
		// @include custom-width;
		position: relative;
		overflow: hidden;
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: auto;
		}
		margin-bottom: 1px;
		box-shadow:0px 2px 1px $textColor;

	}
	.Place__name {
		@include font-xl-hind-medium;
		background-color: rgba(79, 189, 181,.7);
		color: white;
		padding: em(40) em(20) em(40) em(5);
		border-top-right-radius:10em;
		border-bottom-right-radius:10em;
		z-index: 1;
	}
}

.FoodsList {
	// @include custom-width;
	background-color: white;
	.description {
		text-align: center;
		position: relative;
		&__title {
			@include font-xl-hind-light;
			font-size: 50px;
			position: absolute;
			left: 0;
			top:0;
			color: $textColor;
			background: rgba(255,255,255,.9);
			border-radius: em(30);
			padding: em(5);
		}
		margin-bottom: 1em;
	}
	.foodItem {
		text-align: center;
		color: $textColor;
		img {
			border-radius: 50%;
		}
		&__name {
			@include font-xl-hind-light;
			font-size: 40px;
			margin: 20px;
		}
	}
}
.FoodDetail {
	// @include custom-width;
	background-color: white;
	text-align: center;
	padding-bottom: 50px;
	img {
		width: 100%;
	}
	&__title {
		@include font-xl-open-sans-semibold;
		font-size: 90px;
		margin: 1em;
	}
	&__description {
		@include font-xl-open-sans;
		margin: 1em;
	}
}