// $defaultBackColor: #fcf3db;
$defaultBackColor: #FBFBFB;
$font-grey: #80898a;


$maxWidth: 970px; 
$textColor: #353535;
$themeColor: rgba(79, 189, 181,.7);
$themeGrey: #9B9B9B;
$custom-border: 1px solid #ECECEC;

$button-default-hover: lighten($themeColor, 5%);
$button-grey: $themeGrey;
$button-color-disable: #DEE1E2;
$buttonTextColor: black;

$hr-color-dark: #4A4A4A;
$hr-color-light: #DEE1E2;


// font size *************************************************
$font-xxl: 42px;
$font-xl: 30px;
$font-lg: 24px;
$font-med: 18px;
$font-sm: 16px;
$font-xs: 14px;
$font-xxs: 12px;
